Repository Mrassimo/ahgd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-leads, @maintainers, @devops-team, @developers, @qa-team, @data-engineers, @tech-writers, @security-team

feat: Add ultra-modern single-page dark mode dashboard
  ULTRA_DASHBOARD_DEPLOYMENT.md
  docs/index.html
  docs/ultra_dashboard.html
  scripts/prepare_data_release.py
Owners: @tech-writers, @team-leads, @data-engineers, @developers

feat: Fix critical data pipeline losing 95.1% of raw data
  DATA_PIPELINE_INVESTIGATION_REPORT.md
  PIPELINE_FIX_RECOMMENDATIONS.md
  REVAMPED_DASHBOARD_SUMMARY.md
  data_release/LICENSE
  data_release/README.md
  data_release/data_dictionary.json
  data_release/database_info.json
  data_release/geospatial_info.json
  data_release/processed_data_info.json
  data_release/sample_aihw_grim_data.csv
  data_release/sample_aihw_mort_table1.csv
  data_release/sample_phidu_pha_data.csv
  data_release/sample_seifa_2021_sa2.csv
  run_revamped_dashboard.py
  sa2_boundaries_2021_datapilot_report.md
  scripts/data_investigation.py
  scripts/run_unified_etl.py
  seifa_2021_sa2_datapilot_full_report.md
  src/dashboard/revamped_app.py
  src/data_processing/census_processor.py
  src/data_processing/health_processor.py
  src/data_processing/seifa_processor.py
  src/monitoring/data_volume_monitor.py
  test_pipeline_recovery.py
Owners: @tech-writers, @team-leads, @maintainers, @data-engineers, @developers

feat: Launch enhanced Australian Health Data Portal with real data
  docs/enhanced_data_portal.html
Owners: @tech-writers, @team-leads

fix: Remove great-expectations dependency to resolve altair version conflict
  pyproject.toml
Owners: @team-leads, @developers

feat: Add ultra-comprehensive database schema analysis & architecture documentation
  data/docs/analysis/comprehensive_database_analysis.json
  data/docs/analysis/ultra_database_analysis_report.md
  data/docs/analysis/ultra_database_schema_documentation.json
  docs/DATABASE_SCHEMA_VISUAL_GUIDE.md
  docs/ULTRA_DATABASE_ARCHITECTURE_ANALYSIS.md
  scripts/comprehensive_data_analysis.py
  uv.lock
Owners: @data-engineers, @team-leads, @tech-writers, @developers, @maintainers

feat: Complete comprehensive data quality fixes and performance optimization
  data/docs/analysis/comprehensive_database_analysis.json
  data/docs/analysis/ultra_database_analysis_report.md
  data/docs/analysis/ultra_database_schema_documentation.json
  data/monitoring/latest_quality_report.json
  data/monitoring/quality_monitoring_report_20250619_114707.json
  scripts/automated_quality_monitoring.py
  scripts/data_quality_fixes.py
  scripts/performance_optimization.py
Owners: @data-engineers, @team-leads, @developers

feat: Create Snowflake-style data marketplace with GitHub Pages
  README.md
  data/docs/data/web_exports/aihw_mort_table1.csv
  data/docs/data/web_exports/aihw_mort_table1_sample.json
  data/docs/data/web_exports/data_catalog.json
  data/docs/data/web_exports/export_manifest.json
  data/docs/data/web_exports/integrated_sample.json
  data/docs/data/web_exports/phidu_pha_data.csv
  data/docs/data/web_exports/phidu_pha_data_sample.json
  data/docs/data/web_exports/sa2_boundaries_simplified.geojson
  data/docs/data/web_exports/seifa_2021_sa2.csv
  data/docs/data/web_exports/seifa_2021_sa2_sample.json
  data/docs/data/web_exports/seifa_state_summary.json
  docs/index.html
  scripts/generate_web_exports.py
Owners: @tech-writers, @data-engineers, @team-leads, @developers

.github/CODEOWNERS:

# Global owners for the repository
* @team-leads @maintainers

# Specific file ownership
/.github/ @devops-team @team-leads
/src/ @developers @team-leads
/tests/ @qa-team @developers
/scripts/ @data-engineers @developers
/docs/ @tech-writers @team-leads

# CI/CD and deployment
/.github/workflows/ @devops-team @team-leads
/Dockerfile @devops-team
/docker-compose*.yml @devops-team
/pyproject.toml @team-leads @developers

# Security and quality
/bandit.yml @security-team @team-leads
/.pre-commit-config.yaml @team-leads @developers
/ruff.toml @team-leads @developers

# Documentation
/README.md @tech-writers @team-leads
/docs/ @tech-writers @team-leads
*.md @tech-writers

# Data and configuration
/data/ @data-engineers @team-leads
/config/ @team-leads @developers
